/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*BOUTON CALENDRIER autre jour que avril*/
.selected {
    background-color: turquoise;
    border-radius: 700px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*couleur du carré calendrier*/
.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
/*couleur des lettres des autres*/
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
/* couleur du jour */
.days li.active{
  color: #000000;
  background-color: rgba(8, 0, 255, 0.778);
  border-radius: 700px;
}

.days li:hover,
.days li:hover ~ .days li {
    background-color: rgba(64, 224, 208, 0.5); /* Couleur turquoise avec une opacité de 50% */
    border-radius: 700px;

}



.days li:not(.active):hover::before{
  background: #f2f2f2;
}
#choisirDate {
  border: 3px solid black; /* Ajoute une bordure noire de 2px */
  width: 480px; /* Assurez-vous que la largeur correspond à celle de la boîte */
  height: 420px;
  background-color: rgb(255, 255, 255); /* Rend le fond transparent */

  position: absolute; /* Position absolue par rapport à son conteneur */
  left: 450px; /* Déplace de 300px vers la gauche */
  top: 0px; /* Déplace de 200px vers le haut */

}

body {
    background: #f5f5f5;
    margin-top: 20px;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #3B5998;
    color       : #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #fff;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}


/*---------------------------
           HEADER
-----------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-items a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}

.nav-items {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 14px;
}

.logo {
    flex: 1;
    text-align: center;
    font-size: 40px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nav-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 13px;
}

.nav-button button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.btn-wrap {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.btn-wrap::before,
.btn-wrap::after {
    content: '';
    position: absolute;
    background: black;
}

/* Bas */
.btn-wrap::before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
}

/* Droite */
.btn-wrap::after {
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    transform: translateY(-100%);
    transition: transform 0.25s ease 0.25s;
}

/* Haut et Gauche */
.btn-wrap button::after,
.btn-wrap button::before {
    content: '';
    position: absolute;
    background: black;
}

/* Haut */
.btn-wrap button::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateX(100%);
    transition: transform 0.25s ease 0.5s;
}

/* Gauche */
.btn-wrap button::after {
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.25s ease 0.75s;
}

.btn-wrap:hover::before,
.btn-wrap:hover::after,
.btn-wrap:hover button::before,
.btn-wrap:hover button::after {
    transform: translateX(0);
    transform: translateY(0);
}

.nav-items a {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.nav-items a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-items a:hover::after {
    transform: scaleX(1);
}



/* Style pour déplacer les cases à cocher et leurs heures vers la droite */
input[type="checkbox"],
label {
  margin-left: 7px; /* Ajoute un espacement à gauche */
}
