:root {
    --blue-d-1: #3278FF;
    --light: #F5F5F5;
    --grey: #AAA;
    --white: #FFF;
    --shadow: 8px 8px 30px rgba(0, 0, 0, .05);
}

.wrapper {
    background: rgb(255, 255, 255);
    padding: 2rem;
    max-width: 576px;
    width: 100%;
    border-radius: .75rem;
    box-shadow: var(--shadow);
    text-align: center;
    margin-left: 450px;
    margin-top: 100px;
}

.wrapper h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    font-size: 2rem;
    color: rgb(185, 167, 77);
    margin-bottom: 2rem;
}

.rating .star {
    cursor: pointer;
}

.rating .star.active {
    opacity: 0;
    animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.rating .star:hover {
    transform: scale(1.1);
}

textarea {
    width: 100%;
    background: var(--light);
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: .5rem;
}

.btn-group {
    display: flex;
    grid-gap: .5rem;
    align-items: center;
}

.btn-group .btn {
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
}

.btn-group .btn.submit {
    background: rgb(173, 145, 90);
    color: white;
}

.btn-group .btn.cancel {
    background: white;
    color: rgb(0, 0, 0);
}


select {
    width: 100%;
    background: var(--light);
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    margin-bottom: .5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: gray;
    appearance: none;
    /* Pour désactiver le style par défaut des navigateurs sur les select */
    position: relative;
    cursor: pointer;
}

/* Pour ajouter une icône flèche personnalisée aux menus déroulants */
select:after {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: gray;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-items a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}

.nav-items {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.logo {
    flex: 1;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.nav-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-button button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.nav-button button:hover {
    background-color: darken(--yellow, 10%);
}


/*---------------------------
           HEADER
-----------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-items a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}

.nav-items {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 14px;
}

.logo {
    flex: 1;
    text-align: center;
    font-size: 40px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nav-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 13px;
}

.nav-button button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.btn-wrap {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.btn-wrap::before,
.btn-wrap::after {
    content: '';
    position: absolute;
    background: black;
}

/* Bas */
.btn-wrap::before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
}

/* Droite */
.btn-wrap::after {
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    transform: translateY(-100%);
    transition: transform 0.25s ease 0.25s;
}

/* Haut et Gauche */
.btn-wrap button::after,
.btn-wrap button::before {
    content: '';
    position: absolute;
    background: black;
}

/* Haut */
.btn-wrap button::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateX(100%);
    transition: transform 0.25s ease 0.5s;
}

/* Gauche */
.btn-wrap button::after {
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.25s ease 0.75s;
}

.btn-wrap:hover::before,
.btn-wrap:hover::after,
.btn-wrap:hover button::before,
.btn-wrap:hover button::after {
    transform: translateX(0);
    transform: translateY(0);
}

.nav-items a {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.nav-items a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-items a:hover::after {
    transform: scaleX(1);
}
/*---------------------------
           HEADER FIN
-----------------------------*/