@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600');

#results div {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

body,
html {
  min-height: 100vh;
  /* Utilisez min-height au lieu de height */
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: white;
}

.container {
  display: flex;
  min-height: 100vh;
  /* Utilisez min-height au lieu de height */
}

.half {
  flex: 1;
}

.left-side {
  background-color: rgb(63, 63, 74);
  padding: 40px;
  min-height: 100vh;
  /* Utilisez min-height au lieu de height */
}

.right-side {
  background-color: rgb(99, 105, 122);
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
  padding: 20px;

}

#summary {
  width: 60%;
  max-width: 400px;
  padding: 20px;
  background-color: rgb(63, 63, 74);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  /* Pour le texte à l'intérieur du récapitulatif */
}


#filters {
  display: flex;
  flex-direction: column;
  /* Centrer les éléments horizontalement */
  justify-content: space-around;
  height: 300px;
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
}

#dateSelection {
  display: none;
  width: 100%;
}

#dateSelection label {
  display: block;
}

#moreTimesBtn {
  position: relative;
  /* Nécessaire pour positionner le pseudo-élément par rapport au bouton */
  display: inline-block;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}

#moreTimesBtn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  /* Commence sans largeur */
  height: 2px;
  /* Épaisseur du soulignement */
  background-color: currentColor;
  /* Utilise la couleur de texte du bouton */
  transition: width 0.3s ease;
  /* Transition fluide */
}

#moreTimesBtn:hover::after {
  width: 100%;
  /* Étend la barre sur tout le bouton au survol */
}

.select select {
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #ffffff;
  /* pr ajouter la ligne en dessous */
  padding-right: 1.5em;
  /* pour icone de flèche */
  cursor: pointer;
  color: rgb(149, 149, 149);
}