/*-------------------------------------------
                HEADERS
--------------------------------------------*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem 2rem;
    background-color: transparent;
    color: black;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    flex: 1;
    display: flex;
    margin-right: auto;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 13px;
}

.nav-items-left {
    justify-content: flex-start;
}

.nav-items-right {
    justify-content: flex-end;
}

.nav-items a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}

.nav-items a {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.nav-items a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-items a:hover::after {
    transform: scaleX(1);
}

.logo {
    flex: 1;
    text-align: center;
    z-index: 1;
    font-size: 40px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nav-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 13px;
}

.nav-button button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.btn-wrap {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.btn-wrap::before,
.btn-wrap::after {
    content: '';
    position: absolute;
    background: rgb(255, 255, 255);
}

/* Bas */
.btn-wrap::before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
}

/* Droite */
.btn-wrap::after {
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    transform: translateY(-100%);
    transition: transform 0.25s ease 0.25s;
}

/* Haut et Gauche */
.btn-wrap button::after,
.btn-wrap button::before {
    content: '';
    position: absolute;
    background: rgb(255, 255, 255);
    /* Couleur de la bordure */
}

/* Haut */
.btn-wrap button::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateX(100%);
    transition: transform 0.25s ease 0.5s;
}

/* Gauche */
.btn-wrap button::after {
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.25s ease 0.75s;
}

.btn-wrap:hover::before,
.btn-wrap:hover::after,
.btn-wrap:hover button::before,
.btn-wrap:hover button::after {
    transform: translateX(0);
    transform: translateY(0);
}

/*-------------------------------------------
                HEADERS FIN
--------------------------------------------*/
body,
html {
    margin: 0;
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Chaque section prend toute la hauteur de la fenêtre */
    text-align: center;
}

.section-bg-image {
    background-image: url('../logo/imgAccueil.jpg');
    background-size: cover;
    background-position: center;
}
/*-------SECTION SERVICES--------*/
.section-white {
    background: linear-gradient(120deg, #bdbdbd, #8f8f8f);
    color: black;
    padding: 50px 0 20px; /* Ajoute du padding en haut et en bas de la section */
    text-align: center;
    display: flex;
    height: 700px;
    flex-direction: column; /* Organise le contenu en colonne */
    align-items: center; /* Centre horizontalement les éléments */
    justify-content: flex-start; /* Alignement vertical au début de la section */
}
.section-white > h1 {
    width: 100%; /* Assure que le titre prend toute la largeur pour le centrage */
    margin-bottom: 30px; /* Espacement entre le titre et les services */
    font-size: 36px; /* Taille de la police du titre */
}
.section-white h1 {
    margin-bottom: 20px;
    /* Ajoute un espace entre le titre et le paragraphe */
    font-size: 36px;
    /* Augmente la taille de la police pour le titre */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%; /* Utilise toute la largeur disponible pour le conteneur */

}

.service-item {
    flex: 0 1 18%; /* Flex-grow à 0, Flex-shrink à 1 et base à 18% */
    margin: 10px; /* Espacement autour de chaque boîte */
    box-shadow: 10px 10px 8px rgba(0,0,0,0.1); /* Ombre portée légère */
    background-color: #fbfbfb; /* Fond clair pour chaque boîte */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px; /* Largeur fixe pour la cohérence */
    height: 250px; /* Hauteur fixe pour la cohérence */
    border-radius: 8px; /* Bords arrondis pour l'esthétique */
}

.service-item img {
    max-width: 200px; /* Limite la taille des icônes */
    height: auto;
}

.service-item p {
    margin-top: 40px;
    color: #000000; /* Couleur du texte plus foncée pour une meilleure lisibilité */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}
/*--------------------------------------------*/

.section-black {
    background-color: #000000;
    padding: 50px 0;
    height: 350px;
}

/*--------------SECTION A PROPOS--------------*/
.section-gray {
    background: linear-gradient(120deg, #0a0a0a, #484848);
    padding: 50px 20px;
    color: white;
    height: 500px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-gray h1 {
    font-size: 40px; 
    color: #E8E8E8;  
    margin-bottom: 25px;
}

.section-gray p {
    font-size: 18px;
    line-height: 1.6;  
    max-width: 1000px; 
    margin: auto; 
}
/*--------------------------------------*/

/*-------------SECTION CONTACT-----------*/
.section-beige {
    background-color: #4e4d4b;
    color: white;
    height: 600px;
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.contact-text {
    margin-right: 200px;
}

.contact-form .field {
    margin-bottom: 20px;
}
.contact-form select {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: white;
    color: black;
}

.contact-form select option{
    color: #000000;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.contact-form button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 900px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: darken(#393939, 10%);
}
/*-------------------------------------*/

/*-------DERNIERE SECTION NOIR---------*/
h3 {
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    color: #666;
}

ul li:last-child {
    margin-bottom: 0;
}
/*------------------------------------*/

/*pour le slogan au centre de la page*/
#slogan {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 80px;
    color: white;
}