 /*-------------------------------------------
                HEADERS
--------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 2rem;
  background-color: rgb(27, 27, 27);
  color: white;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  flex: 1;
  display: flex;
  margin-right: auto;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: white;
  font-size: 13px;
}

.nav-items-left {
  justify-content: flex-start;
}

.nav-items-right {
  justify-content: flex-end;
}

.nav-items a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

.nav-items a {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.nav-items a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav-items a:hover::after {
  transform: scaleX(1);
}

.logo {
  flex: 1;
  text-align: center;
  z-index: 1;
  font-size: 40px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nav-button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: white;
  font-size: 13px;
}

.nav-button button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.btn-wrap::before,
.btn-wrap::after {
  content: '';
  position: absolute;
  background: rgb(255, 255, 255);
}

/* Bas */
.btn-wrap::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
  transition: transform 0.25s ease;
}

/* Droite */
.btn-wrap::after {
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 0.25s ease 0.25s;
}

/* Haut et Gauche */
.btn-wrap button::after,
.btn-wrap button::before {
  content: '';
  position: absolute;
  background: rgb(255, 255, 255);
  /* Couleur de la bordure */
}

/* Haut */
.btn-wrap button::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateX(100%);
  transition: transform 0.25s ease 0.5s;
}

/* Gauche */
.btn-wrap button::after {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.25s ease 0.75s;
}

.btn-wrap:hover::before,
.btn-wrap:hover::after,
.btn-wrap:hover button::before,
.btn-wrap:hover button::after {
  transform: translateX(0);
  transform: translateY(0);
}

/*-------------------------------------------
             HEADERS FIN
--------------------------------------------*/

/****** ******  ******  ******  ******  ******   ******* */
/******STYLE POUR LE PORTOFOLIOS (LES PHOTOS) ******* */
/****** ******  ******  ******  ******      ******* */

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(27, 27, 27);
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(27, 27, 27);
  color: white;
}


#calendar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  border-radius: 30px;
}

.month {
  padding: 10px;
  width: 100%;
  background: rgb(74, 91, 247);
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.month ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

#weekdays li {
  color: #666;
  text-align: center;
}
#days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#days li {
  list-style-type: none;
  text-align: center;
  font-size: 16px;
  color: #777;
  padding: 15px;
  margin: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
}

#days li.empty {
  border: none;
  cursor: default;
}

#days li.active {
  background: rgb(74, 91, 247);
  color: white !important;
}

#next,
#prev {
  cursor: pointer;
}

@media screen and (max-width: 720px) {

  .weekdays li,
  #days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {

  .weekdays li,
  #days li {
    width: 12.5%;
  }

  #days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {

  .weekdays li,
  #days li {
    width: 12.2%;
  }
}

#days,
#weekdays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media all and (-ms-high-contrast: none) {
  #days {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

/*la maniere que les rdv vont etre affiché*/
.appointment-info {
  padding: 5px;
  margin-top: 2px;
  color: white;
  font-size: 12px;  
  border-radius: 4px; 
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
}
